In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "INPUT:id":list(range(1,501))
    }
)
df

     INPUT:id
0           1
1           2
2           3
3           4
4           5
..        ...
495       496
496       497
497       498
498       499
499       500

[500 rows x 1 columns]

In [3]:
df.to_csv(
    "../content/prod_tasks/collection.tsv",
    index=False
)